@font-face {
    font-family: 'Michroma', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto+Mono:wght@100&display=swap');
}

/*

nav {
    background: rgb(70,74,74);
    background: linear-gradient(130deg, rgba(70,74,74,1) 0%, rgba(44,44,44,1) 100%);
    -webkit-box-shadow: 1px 7px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 15px 0px rgba(0,0,0,0.75);
    min-height: 90px;
    width: 100%;
}

.logo {
    float: left;
}

.hamburger-label {
    float: right;
    color: #fff;
}

.menu-items {
    display: none;
}

nav ul li a {
    text-decoration: none;
    float: right;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ .menu-items {
    display: block;
}

*/



/*MAIN*/
body {
    margin: 0;
    background-color: #fefefa;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    'welcome'
    'explore'
    'kids'
    'teachers'
    'researchers'
    'exhibits';
}

.welcome-carousel {
    grid-area: welcome;
    padding: 50px;
}

.welcome-carousel h2 {
    font-size: 3em;
    border: none;
}

.mammoth {
    width: 95%;
    margin: 40px auto;
    position: relative;
    display: block;
}

h1 {
    text-align: center;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-size: 3.5em;
    font-weight: 400;
}

h2 {
    text-align: left;
    font-family: 'Michroma', sans-serif;
    font-weight: 500;
    font-size: 2.2em;
    border-bottom: #bf3c30 solid 5px;
    padding: 25px 0px;
    width: 100%;
}

p {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 70px;
    font-size: 14px;
    margin: 0;
}

/*
.hr-1 {
    margin: 50px 30px;
    color: #2c2c2c;
    height: 3px;
    width: 80%;
    background-color: #707070;
    border: none;
    margin: 0 auto;
}

.hr-2 {
    color: #D9AD2B;
    background-color: #D9AD2B;
    height: 5px;
    width: 70%;
    border: none;
}
*/


.explore {
    grid-area: explore;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 40px;
}

.explore-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-img {
    width: 70%;
    height: 70%;
    padding: 30px;
}

img {
    width: 100%;
}

.kids {
    grid-area: kids;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 40px;
}

.kids-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0px;
}

.kids-section-1 img {
    width: 45%;
    border-radius: 50%;
    box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.50);
}

.kids-section-2 {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
}

.kids-section-2 img {
    padding: 50px 0px;
    width: 70%;
}

.cta-1 {
    text-decoration: none;
    color: white;
    border: solid 3px white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
}

.teachers {
    grid-area: teachers;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding: 40px;
}

.researchers {
    grid-area: researchers;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding: 40px;
}

.exhibits {
    grid-area: exhibits;min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding: 40px;
}

.exhibits h2 {
    border-top: #bf3c30 solid 5px;
    border-bottom: none;
}

.exhibits img {
    box-shadow: 1px 5px 13px 0px rgba(0,0,0,0.50);
    border: solid 1px #2c2c2c;
}

/*MEDIA QUERIES*/
@media  (min-width: 600px) {
    .kids-section-2 {
        flex-direction: ;
    }
}


@media  (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        'welcome welcome'
        'explore explore'
        'kids kids'
        'teachers researchers'
        'exhibits exhibits';
    }
}