@font-face {
    font-family: 'Michroma', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto+Mono:wght@100&display=swap');
}

/*MAIN*/
.main-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    'explore'
    'kids'
    'teachers'
    'researchers'
    'exhibits';
}

.main-content section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome { 
    background-image: url("images/small_shutterstock_1251051523.jpg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


.explore {grid-area: explore;}
.kids {grid-area: kids;}
.teachers {grid-area: teachers;}
.researchers {grid-area: researchers;}
.exhibits {grid-area: exhibits;}

/*WELCOME*/
.welcome h2 {
    font-size: 2.5em;
    border: none;
    color: white;
}

.mammoth {
    width: 100%;
    margin: 40px auto;
    position: fixed;
    top: 10vh;
    display: block;
    z-index: -10;
}

/*EXPLORE*/
.explore-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*KIDS*/
.kids {
    background-color: #bf3c30;
    border-radius: 5px;
}

.kids-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 10px;
}

.kids-section-1 img {
    width: 45%;
    border-radius: 50%;
    box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.50);
}

.kids-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kids-section-2 img {
    width: 60%;
    margin: 60px;
    flex: 1;
    box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.50);
}

.kids-section-2 p {
    flex: 1;
}

.kids h2 {
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    color: white;
}

.kids p {
    color: white;
}

.cta-1 {
    text-decoration: none;
    color: white;
    border: solid 3px white;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cta-2 {
    text-decoration: none;
    color: black;
    border: solid 3px black;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*TEACHERS*/

/*RESEARCHERS*/

/*EXHIBITS*/
.exhibits h2 {
    border-top: #bf3c30 solid 5px;
    border-bottom: none;
    max-width: 100%;
}

.exhibits img {
    box-shadow: 1px 5px 13px 0px rgba(0,0,0,0.50);
    border: solid 1px #2c2c2c;
}

.explore, .kids, .teachers, .researchers, .exhibits {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 25px;
}


h1 {
    text-align: center;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 3.5em;
    font-weight: 400;
    color: white;
}

h2 {
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    border-top: #bf3c30 solid 3px;
    border-bottom: #bf3c30 solid 3px;
    padding: 10px 0px;
    width: 100%;
    max-width: 300px;
}

p {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 15px 0;
}

a {
    text-decoration: none;
    color: #bf3c30;
}

a:hover {
    text-decoration: underline;
}

/*MEDIA QUERIES*/
@media  (min-width: 600px) {
    .kids-section-1 {
        max-width: 500px;
        margin: 0 auto;
    }
    
    .kids-section-2 {
        flex-direction: row;
    }

    .welcome {
        max-height: 45vh;
    }

    .layer {
        min-height: 45vh;
    }

    .main-content {
        max-width: 1000px;
        margin: 0 auto;
    }

    p {
        font-size: 16px;
    }

}


@media  (min-width: 800px) {
    .main-content {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        'explore explore'
        'kids kids'
        'teachers researchers'
        'exhibits exhibits';
    }

    .welcome {
        max-height: 60vh;
    }

    .layer {
        min-height: 60vh;
    }

    p {
        font-size: 16px;
    }
}

@media  (min-width: 1000px) {
    p {
        font-size: 18px;
    }
}

