@font-face {
    font-family: 'Michroma', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto+Mono:wght@100&display=swap');
}

/*

nav {
    background: rgb(70,74,74);
    background: linear-gradient(130deg, rgba(70,74,74,1) 0%, rgba(44,44,44,1) 100%);
    -webkit-box-shadow: 1px 7px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 15px 0px rgba(0,0,0,0.75);
    min-height: 90px;
    width: 100%;
}

.logo {
    float: left;
}

.hamburger-label {
    float: right;
    color: #fff;
}

.menu-items {
    display: none;
}

nav ul li a {
    text-decoration: none;
    float: right;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ .menu-items {
    display: block;
}

*/



/*MAIN*/
body {
    margin: 0;
    background-color: #fefefa;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    'welcome'
    'explore'
    'kids'
    'teachers'
    'researchers'
    'exhibits';
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 25px;
}

.welcome-carousel {grid-area: welcome;}
.explore {grid-area: explore;}
.kids {grid-area: kids;}
.teachers {grid-area: teachers;}
.researchers {grid-area: researchers;}
.exhibits {grid-area: exhibits;}

/*WELCOME*/
.welcome-carousel h2 {
    font-size: 2.5em;
    border: none;
}

.mammoth {
    width: 95%;
    margin: 40px auto;
    position: relative;
    display: block;
}

/*EXPLORE*/
.explore-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-img {
    width: 70%;
    padding: 30px;
}

/*KIDS*/
.kids-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 10px;
}

.kids-section-1 img {
    width: 45%;
    border-radius: 50%;
    box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.50);
}

.kids-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kids-section-2 img {
    width: 60%;
}

.cta-1 {
    text-decoration: none;
    color: black;
    border: solid 3px black;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*TEACHERS*/

/*RESEARCHERS*/

/*EXHIBITS*/
.exhibits h2 {
    border-top: #bf3c30 solid 5px;
    border-bottom: none;
}

.exhibits img {
    box-shadow: 1px 5px 13px 0px rgba(0,0,0,0.50);
    border: solid 1px #2c2c2c;
}

h1 {
    text-align: center;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-size: 3.5em;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    border-top: #bf3c30 solid 3px;
    border-bottom: #bf3c30 solid 3px;
    padding: 10px 0px;
    width: 100%;
}

p {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 15px 0;
}

hr {
    color: #2c2c2c;
    height: 2px;
    border: none;
    background-color: #2c2c2c;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #bf3c30;
}

a:hover {
    text-decoration: underline;
}

/*MEDIA QUERIES*/
@media  (min-width: 600px) {
    .kids-section-2 {
        flex-direction: row;
    }
}


@media  (min-width: 1000px) {
    main {
        max-width: 1150px;
        margin: 0 auto;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        'welcome welcome'
        'explore explore'
        'kids kids'
        'teachers researchers'
        'exhibits exhibits';
    }
}