body {
    margin: 0;
    background-color: #fefefa;
}

/*HEADER*/
header {
    background: rgb(70,74,74);
    background: linear-gradient(130deg, rgba(70,74,74,1) 0%, rgba(44,44,44,1) 100%);
    -webkit-box-shadow: 1px 7px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 7px 15px 0px rgba(0,0,0,0.75);
    min-height: 90px;
}

nav input {
    display: none;
}

.hamburger-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 25px;
    color: white;
    padding-right: 20px;
    font-size: 2.2em;
}

.menu-items {
    display: none;
}

.menu-items a {
    display: block;
    height: 50px;
    margin-left: 15px;
    padding-top: 15px;
    color: white;
    font-size: 18px;
    background-color: rgb(65,70,70);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-items a:hover {
    text-decoration: underline;
}

#hamburger-menu:checked ~ .menu-items {
    display: block;
}

.logo-image {
    max-width: 80px;
}

.current {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #bf3c30;
}

/*FOOTER*/
footer {
    min-height: 150px;
    background: rgb(70,74,74);
    background: linear-gradient(130deg, rgba(70,74,74,1) 0%, rgba(44,44,44,1) 100%);
    -webkit-box-shadow: 1px 7px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 15px 0px rgba(0,0,0,0.75);
}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-bottom {
    max-width: 90px;
    margin: 15px;
}

.social {
    margin: 15px;
}

.social a {
    padding: 5px;
    font-size: 1.5em;
}

.copy {
    display: flex;
    justify-content: center;
}

.copy p {
    margin: 0;
    padding: 2px 0px;
}

img {
    width: 100%;
}

/*SUBSCRIBE*/
.subscribe {
    background: rgb(191,60,48);
    background: linear-gradient(130deg, rgba(191,60,48,1) 0%, rgba(44,44,44,1) 100%);
    padding: 6px;
    margin: 20px 0px;
    box-shadow: #000 0px 0px 3px 0px;
}

.subscribe-content {
    padding: 25px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.subscribe-content input {
    padding: 18px;
    font-size: 18px;
    color: #2c2c2c;
    width: 60vw;
    border: solid 1px #2c2c2c;
    border-radius: 5px;
}

.cta-submit {
    background-color: #2c2c2c;
    color: white;
    margin-top: 30px;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
}

@media  (min-width: 800px) {
    .subscribe {
        height: 40vh;
    }

    .subscribe-content {
        height: 35vh;
    }

    p {
        font-size: 16px;
    }

    .logo {
        display: inline-block;
        margin-left: 10px;
    }

    .hamburger-label, #hamburger-menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-items {
        display: flex;
        align-items: center;
        margin-right: 70px;
    }
    
    #hamburger-menu:checked ~ .menu-items {
        display: inline-block;
    }

    .menu-items a {
        background: none;
        padding-left: 15px;
        padding-top: 0px;
        height: auto;
    }

}

@media  (min-width: 1000px) {
    p {
        font-size: 18px;
    }
}