nav {
    background: rgb(70,74,74);
    background: linear-gradient(130deg, rgba(70,74,74,1) 0%, rgba(44,44,44,1) 100%);
    -webkit-box-shadow: 1px 7px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 7px 15px 0px rgba(0,0,0,0.75);
    min-height: 90px;
    width: 100%;
}

.logo {
    float: left;
}

.hamburger-label {
    float: right;
    color: #fff;
}

.menu-items {
    display: none;
}

nav ul li a {
    text-decoration: none;
    float: right;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ .menu-items {
    display: block;
}

/*MAIN*/
body {
    margin: 0;
    background-color: #fefefa;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    'visit'
    'hours'
    'location'
    'features';
}

.visit {
    grid-area: visit;
    background-image: url(images/scott-webb-102825.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    max-height: 35vh;
    margin-bottom: 40px;
}

.layer {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 35vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    margin: 55px;
    /*position: absolute;
    top: 30%;
    left: 30%;*/
}

h2 {
    padding-bottom: 15px;
    font-family: 'Michroma', sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
}

.container {
    padding: 25px;
    background-color: white;
    color: black;
}

.container-lg {
    padding: 25px;
    background-color: white;
    color: black;
}

.container-lng h2 {
    margin-bottom: 0;
    margin-top: 15px;
    padding-bottom: 0;
}

.gradient {
    background: rgb(191,60,48);
    background: linear-gradient(130deg, rgba(191,60,48,1) 0%, rgba(44,44,44,1) 100%);
    padding: 6px;
    margin: 20px;
    box-shadow: #000 0px 0px 3px 0px;
}

.hours { grid-area: hours; }
.location { grid-area: location; }
.features { grid-area: features; }

.features .container {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #bf3c30;
}

a:hover {
    text-decoration: underline;
}

@media  (min-width: 600px) {
    main {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        'visit visit'
        'hours location'
        'features features';
    }

    .visit {
        max-height: 45vh;
    }

    .layer {
        min-height: 45vh;
    }

    .hours {
        margin-left: 40px;
    }

    .location {
        margin-right: 40px;
    }

    .features {
        margin: 20px 40px;
    }

    .container-lg {
        height: 450px;
    }

    .features .container {
        flex-direction: row;
    }

    .features .container div {
        margin: 15px;
        flex: 1;
    }

    h1 {
        font-size: 68px;
    }
}

@media  (min-width: 800px) {
    .container-lg {
        height: 500px;
    }

    .visit {
        max-height: 60vh;
    }

    .layer {
        min-height: 60vh;
    }

    .hours {
        margin-left: 200px;
    }

    .location {
        margin-right: 200px;
    }

    .features {
        margin: 20px 200px;
    }
}

@media  (min-width: 1080px) {
    .container-lg {
        height: 350px;
    }
}